@import url('https://fonts.googleapis.com/css?family=Cairo:300,400&display=swap');
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Cairo;
}

.displayWrapper {
  
    width: 500px;
    height: 300px;
    border: 2px solid black;
    border: 2px solid rgb(144, 151, 151);
    margin: 20px auto;
    margin-bottom: 0;
}

.stateHead {
    margin-top: -1px;
    border-bottom: 2px solid rgb(144, 151, 151);
    padding: 8px;
    background-color: rgb(30, 116, 173);
    text-align: center;
    font-family: Cairo;
    color: rgb(200, 230, 230);
}

.dateDiv {
    width: 20%;
    height: 25%;
    margin-top: -34px;
    border-bottom: 2px solid rgb(144, 151, 151);
    border-right: 2px solid rgb(144, 151, 151)
    
}

.dateText {
    text-align: center;
    font-size: 2.2em;
}

.iconDiv {
    
    width: 40%;
    margin: 0 auto;
    margin-top: -11%;
}

img {
    width: 100px;
    height: 100px;
}

.tempP {
    width: 80%;
    font-size: 3.3em;
    text-align: right;
    margin-top: -115px;
}

.feelsTempDiv {
    width: 20%;
    margin-top: -30px;
    text-align: center;
}

.maxTempDiv {
    width: 20%;
    margin-top: -20px;
    text-align: center;
    font-size: .9em;
}

.minTempDiv {
    width: 20%;
    margin-top: -20px;
    text-align: center;
    font-size: .8em;
}

.humidHeadDiv {
    width: 15%;
   
    margin: 0 auto;
    margin-top: -18%;
}

.humidHeadP {
    width: 70%;
    
}

.windHeadDiv {
    width: 15%;
   
    margin: 0 auto;
    margin-top: -18.5%;
    margin-left: 70%;
    
}

.windP {
    width: 15%;
    margin-left: 70%;
 
}

.humidP {
    width: 15%;
    margin-left: 46%;
    
}

.hideInfo {

}
.alert {

    width: 100%;
    text-align: center;
    margin-top: -130px;
    background-color: rgba(255, 0, 0, 0.26);
    color: rgba(0, 0, 0, 0.548);
}

@media only screen and (max-width: 550px) {
    .displayWrapper {
        width: 300px;
        height: 300px;
        border: 2px solid black;
        border: 2px solid rgb(144, 151, 151);
        margin: 0 auto;
    }

    .windHeadDiv {
        width: 15%;
       
        margin: 0 auto;
        margin-top: -30.5%;
        margin-left: 70%;
        
    }

    .humidHeadDiv {
        width: 15%;
       
        margin: 0 auto;
        margin-top: -25%;
    }

    .tempP {
        width: 80%;
        font-size: 3.3em;
        text-align: right;
        margin-top: -30px;
    }

    .feelsTempDiv {
        width: 20%;
        margin-top: -130px;
        text-align: center;
    }
    
    .maxTempDiv {
        width: 20%;
        margin-top: -20px;
        text-align: center;
        font-size: .9em;
    }
    
    .minTempDiv {
        width: 20%;
        margin-top: -20px;
        text-align: center;
        font-size: .8em;
    }

    img {
        width: 1000px;
        height: 100px;
        margin-top: -50px;
    }

    .dateDiv {
        width: 30%;
        height: 25%;
        margin-top: -34px;
        border-bottom: 2px solid rgb(144, 151, 151);
        border-right: 2px solid rgb(144, 151, 151)
        
    }

  }